github "marmelroy/Zip"
github "keymanapp/dependency-XCGLogger" "master"
github "devicekit/DeviceKit" ~> 5.0
github "davidmoore1/Reachability.swift" "cd9606d6a9a46b5e8a3cfd029ff6b79da1424a51"
github "getsentry/sentry-cocoa" ~> 8.7.0
